* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a:link, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}

#wrapper {  
  background-color: #999;
  height: 1920px;
}

#logo {
  text-align: center;
}

#selectBox{  
  height: 100px;
  width: 1080px;
  border: 2px solid red;  
  
}

#selectBox ul{
  float: left;  
  text-align: center;
}

#selectBox ul li{
  display: inline-block;
  text-align: center;
}

